body{
 font-family: 'Open Sans', sans-serif;
 font-weight: 100;
}
ul{
 padding:0px;
}

li{
  list-style: none;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.loading{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color:blue;
}
.languages{
  display:flex;
  justify-content: center;

}
.languages li{
 margin: 10px;
 font-weight: 100;
 cursor:pointer;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item {
  margin: 20px;
  text-align: center;
}

.space-list-items {
  margin-bottom: 7px;
}

.avatar {
  width: 150px;
  border-radius: 50%;
}
.nav {
  display: flex;
  margin: 10px;
  cursor:pointer;
}

.active{
  font-weight: bold;
}

.nav li{
  font-weight:100;
  margin-right: 15px;
}
.nav a{
  text-decoration: none;
  color:blue;
  font-size: 1.2rem;
}
